*{
    margin: 0;
    padding: 0;
}
#container{
    margin: 100px;
}
#btns li{
    float: left;
    width: 50px;
    height: 30px;
    background: #F1F1F1;
    border:1px solid #898989;
    color:#666;
    font-size: 14px;
    line-height: 30px;
    text-align: center;
    margin-right:10px;

}
#btns li.active{
    background: #6D84B4;
    color:#fff;
}
#content{
    width: 300px;
    height: 100px;
    border:1px solid #898989;
}
#content div{
    display: none;    
}
#content .selected{
    display: block;
}
ul{
    list-style: none;
}
#btns{
    overflow: hidden;
}