.header{
    height: 32px;
    line-height: 32px;
    background-color: #a9180a;
}
.header-title{
    height: 32px;
    float: left;
}
.header-title span,.header-title a{
    color:#fff;
    font-size: 12px;
}
.header-title a{
    /* 去掉a标签的下划线 */
    text-decoration: none;
    padding:0 10px 0 20px;
}
.header-list{
    float:right;
}
.header-list > li{
    float: left;
    padding:0 14px 0 10px;
    /* background: #ff0000; */
}
.header-list > li > a{
    color:#fff;
}
.header-list-wodetaobao-menu-hd{
    /*  */
    position: relative;
}
.header-list-wodetaobao-menu-st{
    position: absolute;
    left:0px;
    top:32px;
    background: #fff;
    padding: 10px;
    border:1px solid #ccc;
    border-top:none;
    display: none;
}